<a routerLink="/form/{{ item.id }}" class="box-link">
    <div class="box-div" [hintText]="toolTip">
        <div>
            <img class="box-img" src="{{ imageName }}">
        </div>
        <div class="box-text">
            <strong>{{ item.companyName }}</strong><br>
            <div class="box-desc">
                <div class="box-left">{{ item.position }}</div>
                <div class="box-right">{{ item. createdDate | date: 'ddMMMYY' }}</div>
            </div>
            <div class="box-desc">
                <div class="box-left">Status: {{ statusName }}</div>
                <div class="box-right">{{ locationName }}</div>
            </div>
        </div>
    </div>
</a>