<div class="p-2">
    <h3 class="content-header">
        Job Status
    </h3>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="col-12 d-flex justify-content-end align-items-end align-self-end">
            <button type="button" class="btn btn-theme my-2" (click)="addNew()" [disabled]="!IsLoggedIn">Add New</button>
        </div>
    </div>
    @defer (when loaded) {
    <job-status-list [collection]="mainCollection"></job-status-list>
    }
    @placeholder {
    <loading [status]="!loaded"></loading>
    }
</div>