<div *ngIf="collection.length == 0; else showApplications">
    <div class="container mt-5 d-flex justify-content-center align-items-center align-self-center">
        <h3 class="content-header">No Job Applications to show at the moment. Consider adding one via AddNew button. :P</h3>
    </div>
</div>
<ng-template #showApplications>
    <div class="application-container">
        <div *ngFor="let item of collection">
            <application-box [item]="item" [status]="status" [locations]="locations"></application-box>
        </div>
    </div>
</ng-template>