@defer(when loaded) {
<div class="p-2" *ngIf="job != null || job != undefined; else showNullError">
    <h3 class="content-header">
        {{ action }} Job Application
    </h3>
    <form>
        <div class="row mt-3">
            <div class="col form-floating">
                <input id="companyName" name="companyName" type="text" class="form-control" placeholder="Company Name" [(ngModel)]="job.companyName">
                <label for="companyName" class="mx-2">Company Name</label>
            </div>
            <div class="col form-floating">
                <input id="position" name="position" type="text" class="form-control" placeholder="Position" [(ngModel)]="job.position">
                <label for="position" class="mx-2">Position</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col form-floating">
                <select 
                    id="location"
                    name="location"
                    class="form-select"
                    [(ngModel)]="job.locationId">
                        <option *ngFor="let l of locations"
                            [value]="l.id"
                        >{{ l.name }}</option>
                </select>
                <label for="location" class="mx-2">Location</label>
            </div>
            <div class="col form-floating">
                <select 
                    id="status"
                    name="status"
                    class="form-select"
                    [(ngModel)]="job.statusId">
                        <option *ngFor="let s of jobStatus"
                            [value]="s.id"    
                        >{{ s.name }}</option>
                </select>
                <label for="status" class="mx-2">Job Status:</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col form-group">
                <label for="comment">Comments:</label>
                <textarea id="comment" name="comment" row="3" type="text" class="form-control" placeholder="put comments here..." [(ngModel)]="job.comment"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-end align-items-end align-self-end">
            <button
                type="submit"
                class="btn btn-theme px-3 mx-2"
                (click)="$event.preventDefault(); saveJob()"
                >Save</button>
            <button type="button" class="btn btn-theme px-3" (click)="backToMain()">Back</button>
            </div>
        </div>
    </form>
</div>
<ng-template #showNullError>
    <div class="container mt-5 d-flex justify-content-center align-items-center align-self-center">
        <h3 class="content-header">Job Application not found.</h3>
    </div>
</ng-template>
} @placeholder {
    <div class="container p-5 mt-5 d-flex justify-content-center align-items-center align-self-center">
        <span class="badge bg-dark text-white" style="font-size: xx-large;">Loading data, please wait...</span>
    </div>
}