.hobies-desc {
    padding-block: 2rem;
    text-align: center;
}

.hobby-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-inline: 1rem;
}

.hobby-item {
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: .5rem;
    min-height: 10rem;
    display: flex;
}

.hobby-item img {
    height: auto; 
    width: auto; 
    border-radius: .3rem;
}

.hobby-content {
    padding-inline: 1rem;
}

.item-1 {
    color: var(--theme-txt);
    background-color: var(--purple);
    grid-column: 1 / 3;
}

.item-1 * .item-comment {
    padding: 1rem 3rem;
}

.item-1 * .japanese-title {
    color: var(--blue-light);
}

.item-2 {
    grid-column: 3 / 4; 
    grid-row: 1 / 3;
    background-color: var(--blue-drk);
    color: var(--theme-txt);
    display: block;
}

.item-2 * .japanese-title,
.item-5 * .japanese-title {
    color: var(--light-grey);
}

.item-2-title {
    display: flex;
}

.item-2 .item-comment {
    padding: 3rem;
}

.item-3 {
    background-color: var(--light-grey);
}

.item-3 .item-comment {
    padding-block: 2rem;
}

.item-5 {
    background-color: var(--blue-grey);
    color: var(--theme-txt);
}

.item-4 .item-comment,
.item-5 .item-comment {
    padding-block: 1rem;
}

.item-6 {
    grid-column: 2 / 4;
    background-color: var(--pink);
}

.item-6 * .item-comment {
    padding: 1.5rem 3rem;
}

.item-7 {
    grid-column: 1 / 4;
    background-color: var(--blue-drkr);
    color: var(--theme-txt);
}

.item-7 * .item-comment {
    padding: 2rem 3rem;
}

.english-title {
    font-weight: bold;
}

.japanese-title {
    color: var(--theme-txt-alt);
}

.item-comment {
    font-size: small;
    text-align: center;
}

@media (max-width: 62rem) {
    .hobby-list {
        grid-template-columns: 1fr;
    }

    .item-1,
    .item-2,    
    .item-3,
    .item-4,
    .item-5,
    .item-6,
    .item-7 {
        grid-column: auto;
        grid-row: auto;
    }

    .item-comment {
        display: none;
    }

    .accordion-main {
        display: block;
    }

    .layout-preview {
        height: 80%;
        width: 80%;
    }
}