<div class="hobies-desc">Done with flexbox, now we experiment using grid boxes.  This time using my favourite anime, in no particular order. :P</div>
<div class="hobby-list">
    <div class="hobby-item item-1">
        <img ngSrc="rurouni-kenshin.png" height="1" width="1">
        <div class="hobby-content">
            <label class="english-title">Rurouni Kensin</label><br>
            <label class="japanese-title">(るろうに剣心)</label><br>
            <label class="year-title">1996</label>
            <p class="item-comment">" Rurouni is one of the best anime of all time.  
                From the plot to the character development, everything is highly anticipated.
                It's a mix of comedy, action and a little bit of Japanese culture / history. "</p>
        </div>
    </div>
    <div class="hobby-item item-2">
        <div class="item-2-title">
            <img ngSrc="yuyu-hakusho.png" height="1" width="1">
            <div class="hobby-content">
                <label class="english-title">YuYu Hakusho</label><br>
                <label class="japanese-title">(幽☆遊☆白書)</label><br>
                <label class="year-title">1992</label>
            </div>
        </div>
        <p class="item-comment">" Yuyu Hakusho or commonly known in the Philippines as Ghost Fighter is the 90's most epic anime.  
            Children playing on the street will immediately go home as soon as they heard the opening theme song. "</p>
    </div>
    <div class="hobby-item item-3">
        <img ngSrc="gundam-wing.png" height="1" width="1">
        <div class="hobby-content">
            <label class="english-title">Gundam Wing</label><br>
            <label class="japanese-title">(新機動戦記ガンダム W)</label><br>
            <label class="year-title">1995</label>
            <p class="item-comment">" Simply the best gundam anime!!! "</p>
        </div>
    </div>
    <div class="hobby-item item-4">
        <img ngSrc="trigun.png" height="1" width="1">
        <div class="hobby-content">
            <label class="english-title">Trigun</label><br>
            <label class="japanese-title">(トライガン)</label><br>
            <label class="year-title">1998</label>
            <p class="item-comment">" The Humanoid Typhoon, Vash the Stampede!!! "</p>
        </div>
    </div>
    <div class="hobby-item item-5">
        <img ngSrc="evangelion.png" height="1" width="1">
        <div class="hobby-content">
            <label class="english-title">Neon Genesis Evangelion</label><br>
            <label class="japanese-title">(新世紀エヴァンゲリオン)</label><br>
            <label class="year-title">1995</label>
            <p class="item-comment">" Rei Ayanami and Asuka Langley... forget Shinji. :P "</p>
        </div>
    </div>
    <div class="hobby-item item-6">
        <img ngSrc="jujutsu.png" height="1" width="1">
        <div class="hobby-content">
            <label class="english-title">Jujutsu Kaisen</label><br>
            <label class="japanese-title">(呪術廻戦)</label><br>
            <label class="year-title">2020</label>
            <p class="item-comment">" The only new anime on my list simply because it really is badass! Better than other anime not in this list. "</p>
        </div>
    </div>
    <div class="hobby-item item-7">
        <img ngSrc="one-piece.png" height="1" width="1">
        <div class="hobby-content">
            <label class="english-title">One Piece</label><br>
            <label class="year-title">1999</label>
            <p class="item-comment">" One Piece is by no means my least favorite anime in this least, 
                in fact I am still watching and enjoying every new episodes.  I even have a 1080P copy from Ep 1 to current! haha!
                This super long running anime is very fun to watch, even the fillers are sometimes fun to watch!  You can't go wrong with Luffy and the gang!"</p>
        </div>
    </div>
</div>
<div id="hobby-accordion" class="accordion accordion-main">
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hobby-desktop" aria-expanded="false" aria-controls="hobby-desktop">
            I promise you expanding this will blow your mind...
          </button>
        </h2>
        <div id="hobby-desktop" class="accordion-collapse collapse" data-bs-parent="#hobby-accordion">
          <div class="accordion-body accordion-content">
            <p>Haha! It seems you're really into interesting stuffs, just like me you are curious!</p>
            <img ngSrc="grid-layout.PNG" class="layout-preview" height="1" width="1">
            <p>go and try it on your laptop or pc!</p>
          </div>
        </div>
    </div>
</div>
