<div class="hobies-desc">Done with flexbox, now we experiment using grid boxes.  This time using my favourite anime, in no particular order. :P</div>
<div class="hobby-list">
    <div class="hobby-item item-1">
        <img src="rurouni-kenshin.png">
    </div>
    <div class="hobby-item item-2">
        <img src="yuyu-hakusho.png">
    </div>
    <div class="hobby-item item-3">
        <img src="gundam-wing.png">
    </div>
    <div class="hobby-item item-4">
        <img src="trigun.png">
    </div>
    <div class="hobby-item item-5">
        <img src="evangelion.png">
    </div>
    <div class="hobby-item item-6">
        <img src="jujutsu.png">
    </div>
    <div class="hobby-item item-7">
        <img src="one-piece.png">
    </div>
</div>
