<div class="hobies-desc">Done with flexbox, now we experiment using grid boxes.  This time using my favourite anime, in no particular order. :P</div>
<div class="hobby-list">
    <div class="hobby-item item-1">
        <img src="rurouni-kenshin.png">
        <div style="padding-inline: 1rem;">
            <label class="english-title">Rurouni Kensin</label><label class="japanese-title">&nbsp;(るろうに剣心)</label>
            <p class="item-comment">" Rurouni is one of the best anime of all time (1996 series).  
                From the plot to the character development, everything is highly anticipated.
                It's a mix of comedy, action and a little bit of Japanese culture / history. "</p>
        </div>
    </div>
    <div class="hobby-item item-2">
        <img src="yuyu-hakusho.png">
    </div>
    <div class="hobby-item item-3">
        <img src="gundam-wing.png">
    </div>
    <div class="hobby-item item-4">
        <img src="trigun.png">
    </div>
    <div class="hobby-item item-5">
        <img src="evangelion.png">
    </div>
    <div class="hobby-item item-6">
        <img src="jujutsu.png">
    </div>
    <div class="hobby-item item-7">
        <img src="one-piece.png">
    </div>
</div>
