<div class="p-2">
    <h3 class="content-header">
        Job Applications
    </h3>
    <div>
        <div class="d-flex">
            <div class="col-3 p-3">
                <filter class="col sub-header-control" [(filter)]="filterCompany" [list]="filterUniqueCompanies()" [labelFilter]="'Filter by Company'"></filter>
            </div>
            <div class="col-3 p-3">
                <filter class="col sub-header-control" [(filter)]="filterLoc" [list]="locations" [labelFilter]="'Filter by Location'"></filter>
            </div>
            <div class="col-3 p-3">
                <filter class="col sub-header-control" [(filter)]="filterStat" [list]="status" [labelFilter]="'Filter by Status'"></filter>
            </div>
            <div class="col-3 p-3">
                <button type="button" class="btn bg-btn-blue add-new-btn sub-header-control" (click)="addNew()">Add New</button>
            </div>
        </div>
    </div>
    <!-- <application-list [collection]="getVisibleItems()" [locations]="locations" [status]="status"></application-list> -->
    <application-boxes [collection]="getVisibleItems()" [locations]="locations" [status]="status"></application-boxes>
</div>