<header class="p-3">
  <div class="container">
    <div class="app-header">
      <div class="app-logo">
        <a href="/">
          <img src="daisuke_08.PNG">
        </a>
        <label>Ðaisuke08 Inc.</label>
      </div>

      <ul class="nav nav-list">
        <li><a routerLink="" class="nav-link nav-custom" [attr.nav-selected]="navBars[0]" (click)="setSelected('home')">Home</a></li>
        <li><a routerLink="application" class="nav-link nav-custom" [attr.nav-selected]="navBars[1]" (click)="setSelected('application')">Application</a></li> 
        <li><a routerLink="location" class="nav-link nav-custom" [attr.nav-selected]="navBars[2]" (click)="setSelected('location')">Locations</a></li>
        <li><a routerLink="job-status" class="nav-link nav-custom" [attr.nav-selected]="navBars[3]" (click)="setSelected('jobstatus')">Job Status</a></li>
        <!-- <li><a href="#" class="nav-link nav-custom">FAQs</a></li>
        <li><a href="#" class="nav-link nav-custom">About</a></li> -->
      </ul>

      <a class="nav-mobile-bar icon" (click)="setDisplay()">
        <i class="fa fa-bars"></i>
      </a>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div> -->
    </div>
  </div>
</header>
<div class="container content">
  <router-outlet />
</div>
