.app-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app-logo {
    display: flex;
    flex-grow: 1;
    margin-block: auto;
}

.app-logo a {
    text-decoration: none;
}

.app-logo img {
    width: 40px; 
    height: 40px;

}

.app-logo label {
    color: var(--header-txt);
    font-size: x-large;
    font-weight: bold;
    padding-left: .5rem;
    margin-block: auto;
}

.nav-list {
    flex-grow: 0;
    justify-content: right;
}

.nav-custom {
    color: var(--header-txt);
    font-size: x-large;
    text-decoration: none;
}

.nav-mobile-bar {
    text-decoration: none;
    color: var(--header-txt);
    display: none;
    font-size: x-large;
    margin-block: auto;
    cursor: pointer;
}