<header class="p-3 bg-blue">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div style="flex-grow: 1; display: flex;">
        <a href="/" class="text-decoration-none">
          <img style="width: 40px; height: 40px;" src="daisuke_08.PNG">
        </a>
        <label class="app-title">Ðaisuke08 Inc.</label>
      </div>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="flex-grow: 0;">
        <li><a routerLink="" class="nav-link nav-custom">Home</a></li>  
        <li><a routerLink="location" class="nav-link nav-custom">Locations</a></li>
        <li><a routerLink="job-status" class="nav-link nav-custom">Job Status</a></li>
        <li><a href="#" class="nav-link nav-custom">FAQs</a></li>
        <li><a href="#" class="nav-link nav-custom">About</a></li>
      </ul>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div> -->
    </div>
  </div>
</header>
<div class="container content mt-3">
  <router-outlet />
</div>
