<div class="skills">
    <home-skill-item imageName="c-sharp.png" skillName="C#" proficiencyValue="5/5" experienceValue="15yrs" gotoValue="Yes"></home-skill-item>
    <home-skill-item imageName="angular.jpg" skillName="Angular" proficiencyValue="3/5" experienceValue="0yrs" gotoValue="No"></home-skill-item>
    <home-skill-item imageName="wpf.png" skillName="WPF" proficiencyValue="4/5" experienceValue="9yrs" gotoValue="Yes"></home-skill-item>
    <home-skill-item imageName="vb6.png" skillName="Visual Basic" proficiencyValue="5/5" experienceValue="15yrs" gotoValue="Yes"></home-skill-item>
</div>