<div class="skills-description">
    <p>This is me playing around with flex box and flexing my skills through boxes of my favourite games!</p>
</div>
<div class="skills">
    <home-skill-item 
        imageName="diablo_cover.png" 
        skillName="Diablo" 
        longDesc="Longest RPG Game I've ever played.  The best Diablo in the series.  Every bit of the game is interesting. Not convinced?! Try it!">
    </home-skill-item>
    <home-skill-item 
        imageName="dark_souls_3_cover.jpg" 
        skillName="Dark Souls III"
        longDesc="Best and Hardest Souls game!  It's just too exciting to play with all the jump scare combined with game difficulty!">
    </home-skill-item>
    <home-skill-item 
        imageName="god_of_war_III_cover.jpg" 
        skillName="God Of War III"
        longDesc="Yep you know it! Best God of War in the series.  Kratos showed them gods who's the real boss!  Super badass, specially when beating Zues!">
    </home-skill-item>
    <home-skill-item 
        imageName="nfsu2-win-cover.jpg" 
        skillName="NFS: Underground 2"
        longDesc="I know you're lying when you say this is not the best NFS! Super customizable, best car line up! Nissan Skyline R34!">
    </home-skill-item>
</div>
<div class="skills-description" style="margin-bottom: 0;">
    <p>The list does not cover all the games I love...  click <a href="#">here</a> for the full list.</p>
</div>
<div id="skills-accordion" class="accordion accordion-main">
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#skills-desktop" aria-expanded="false" aria-controls="skills-desktop">
            Expand to see something interesting...
          </button>
        </h2>
        <div id="skills-desktop" class="accordion-collapse collapse" data-bs-parent="#skills-accordion">
          <div class="accordion-body accordion-content">
            <p>Gotcha! Just wanted to show you how it looks like on wider resolution. :P</p>
            <img ngSrc="flex-box-layout.png" class="layout-preview" height="1" width="1">
            <p>it looks much better, right?!</p>
          </div>
        </div>
    </div>
</div>