*,
::before,
::after {
  box-sizing: border-box;
}

body {
    background-image: url(../public/bg.png);
    --white-txt: #f8f8ff;
    --blue-light: #539ED7;
    --blue-drk : #246AAD;
    --blue-drkr : #053664;
    --light-grey : #d3d3d3;
    --purple: #6e4197;
    --green: #4b9429;
    --blue-grey : #27415a;
    --pink: #faa3e7;
    --transparent-blue: #539ed7f1;

    --theme-bg-color: var(--white-txt);
    --theme-btn-bg-color: var(--blue-light);
    --theme-btn-bg-color-drk: var(--blue-drk);
    --theme-mobile-menu-bg : var(--transparent-blue);
    --theme-txt: var(--white-txt);
    --theme-txt-alt: var(--blue-drk);

    --header-bg-color: var(--blue-drk);
    --header-sub-bg-color: var(--blue-light);
    --header-txt: var(--white-txt);

    --footer-bg-color: var(--blue-light);

    --table-hdr-bg-color: var(--blue-drk);
    --table-hdr-txt-color: var(--white-txt);

    --btn-bg: var(--blue-light);
    --btn-txt: var(--white-txt);
    --btn-brdr: var(--blue-drk);

    --border-color: var(--light-grey);

    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-txt);
}

thead {
    background-image: linear-gradient(var(--blue-drk), var(--blue-drkr));
    background-color: var(--table-hdr-bg-color);
    color: var(--table-hdr-txt-color);
}

h1, h2, h3, h4, h5, h6, ul, p {
    padding: 0;
    margin: 0;
}

.content {
    background-color: var(--theme-bg-color);
    border-radius:.5rem!important;
    margin-top: 1rem;
    padding: 0;
}

.content-header {
    background-image: linear-gradient(var(--btn-bg), var(--btn-brdr));
    color: var(--header-txt);
    background-color: var(--header-sub-bg-color);
    border-radius:.25rem!important;
    padding: .5em;
    text-align: center;
}

.btn-theme {
    background-image: linear-gradient(var(--btn-bg), var(--btn-brdr));
    background-color: var(--btn-bg);
    color: var(--btn-txt);
    border-color: var(--btn-brdr);

}

.accordion-main {
    margin-top: 2rem;
    display: none;
}

.accordion-content {
    text-align: center; 
    margin: auto;
}

.accordion-content > p {
    padding-block: 1rem;
}

.authors-note {
    display: none;
}

@media (max-width: 62rem) {
    .authors-note {
        display: block;
    }
}