@if (collection.length == 0) {
    <div class="container mt-5 d-flex justify-content-center align-items-center align-self-center">
        <h3 class="content-header">No JobStatus to show at the moment. Consider adding one via AddNew button. :P</h3>
    </div>
}
@else { 
    <div class="pb-2">
        <table class="table table-sm table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col" style="width: 35svw;">Name</th>
                    <th scope="col">Created Date</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(s of collection; track s.id) {
                <tr>
                    <th scope="row">{{ s.id }}</th>
                    <td >
                        @if(!s.onEditMode) {
                            {{ s.name }}
                        }
                        @else {
                            <input type="text" class="form-control" [(ngModel)]="s.name">
                        }
                    </td>
                    <td>
                        {{ s.createdDate | date: 'dd MMM yyyy HH:mm:ss' }}
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center align-self-center">
                        @if (!s.onEditMode) {
                            <i class="fa fa-pencil-square-o p-1" aria-hidden="true" style="cursor: pointer;" (click)="onEdit(s)"></i>
                            <i class="fa fa-trash-o p-1" aria-hidden="true" style="cursor: pointer;" (click)="onDelete(path, s)"></i>
                        }
                        @else {
                            <i class="fa fa-floppy-o p-1" aria-hidden="true" style="cursor: pointer;" (click)="onSave(path, s)"></i>
                            <i class="fa fa-ban p-1" aria-hidden="true" style="cursor: pointer;" (click)="onCancelEdit(s)"></i>
                        }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}