<div class="hero">
    <div style="display: flex;">
        <h4 style="margin: auto 0 .1rem 0;">Hi there! Welcome to my</h4>
        <!-- <h2 style="margin-inline: .5rem;"><strong>Web Developer - Programmer - Gamer</strong></h2>
        <h4 style="margin: auto 0 .1rem 0;"> and this is my</h4> -->
    </div>
    <h1 style="margin-bottom: 0rem;">[ Personal Web Page ]</h1>
    <h6 style="font-style: italic; margin-top: 0rem; padding-left: 4rem;">(official page title to follow)</h6>
    <h4>with no actual content... :P</h4>
</div>
