.hero-text {
    width: 100%;
    margin: auto;
    padding: 7rem 0 0 2rem;
    text-align: left;
    color: white;
}

.hero {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/hero-bg-01.JPG");
    /* height: 36.9rem; /*hero-bg*/
    height: 30rem; /*hero-bg-01*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.main-border {
    border: 1px solid lightgray;
    border-top-left-radius: 8rem!important;
    border-bottom-right-radius: 8rem!important;
}