.box-skill {
    border: 1px solid lightgray;
    box-shadow: 0rem .5rem 1rem grey;
    height: 25rem;
    width: 15rem;
    padding: 1rem;
}

.skill-icon {
    height: 15rem; 
    width: 100%;
}

.skill-box-desc {
    margin-top: 1rem;
}

.skill-desc {
    display: flex;
}

.skill-text {
    font-weight: bold;
    color: grey; 
    flex-grow: 1;
}

.skill-value {
    flex-grow: 0;
}

.long-desc {
    font-size: small;
}