<div class="p-3">
    <div class="home-section hero main-border">
        <div class="hero-text">
            <div>
                <h1><strong>Marlon Lagua</strong></h1><br>
                <h4>
                    <p>Delivering high-quality solution for over 15 years.</p>
                    <p>Passion for learning and a growth mindset.</p>
                    <p>Empathetic and hands-on leader.</p>
                    <p>Multiple employee awards.</p>
                </h4>
            </div>
        </div>
    </div>
</div>
<hr style="width: 75%; text-align: center; margin: auto;">
<div class="p-3">
    <div class="home-section skills" >
        <h3 class="content-header" style="text-align: center;">Technical Skills</h3>
        <div style="display: flex;">
        <div class="box-skill">
            <div>
                <img src="c-sharp.png" style="height: 10rem; width: 100%;">
            </div>
            <div style="margin-top: 2rem;">
                <h5>C#</h5>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Proficiency:</label>
                    <label style="flex-grow: 0;">5/5</label>
                </div>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Experience:</label>
                    <label style="flex-grow: 0;">15yrs</label>
                </div>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Go-to:</label>
                    <label style="flex-grow: 0;">Yes</label>
                </div>
            </div>
        </div>
        <div class="box-skill">
            <div>
                <img src="angular.jpg" style="height: 10rem; width: 100%;">
            </div>
            <div style="margin-top: 2rem;">
                <h5>Angular</h5>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Proficiency:</label>
                    <label style="flex-grow: 0;">3/5</label>
                </div>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Experience:</label>
                    <label style="flex-grow: 0;">0yrs</label>
                </div>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Go-to:</label>
                    <label style="flex-grow: 0;">No</label>
                </div>
            </div>
        </div>
        <div class="box-skill">
            <div>
                <img src="wpf.png" style="height: 10rem; width: 100%;">
            </div>
            <div style="margin-top: 2rem;">
                <h5>WPF</h5>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Proficiency:</label>
                    <label style="flex-grow: 0;">4/5</label>
                </div>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Experience:</label>
                    <label style="flex-grow: 0;">9yrs</label>
                </div>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Go-to:</label>
                    <label style="flex-grow: 0;">Yes</label>
                </div>
            </div>
        </div>
        <div class="box-skill">
            <div>
                <img src="vb6.png" style="height: 10rem; width: 100%;">
            </div>
            <div style="margin-top: 2rem;">
                <h5>Visual Basic 6</h5>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Proficiency:</label>
                    <label style="flex-grow: 0;">5/5</label>
                </div>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Experience:</label>
                    <label style="flex-grow: 0;">15yrs</label>
                </div>
                <div style="display: flex;">
                    <label style="font-weight: bold; color: grey; flex-grow: 1;">Go-to:</label>
                    <label style="flex-grow: 0;">Yes</label>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<hr style="width: 75%; text-align: center; margin: auto;">
<div class="p-3">
    <div class="home-section hobies">
        <h3 class="content-header" style="text-align: center;">Soft Skills</h3>
    </div>
</div>
<hr style="width: 75%; text-align: center; margin: auto;">
<div class="p-3">
    <div class="home-section contact">
        <h3 class="content-header" style="text-align: center;">Hobbies</h3>
    </div>
</div>
<div class="p-3">
    <div class="footer">
        <p>Marlon Lagua<br>Copyright 2024<br>Angular 18 | .Net Core Api | SQL Server</p>
    </div>
</div>
