<div class="home-section">
    <home-hero></home-hero>
</div>
<div class="home-section">
    <h3 class="content-header">boxed layout using flex box</h3>
    <home-skill-list></home-skill-list>
</div>
<div class="home-section">
    <h3 class="content-header">graphics and text layout using flex box</h3>
    <home-soft-skills></home-soft-skills>
</div>
<div class="home-section">
    <h3 class="content-header">moving on to layout using grid</h3>
    <home-hobies></home-hobies>
</div>
<div class="footer">
    <p>Ðaisuke08<br>Copyright 2024<br>Angular 18 | .Net Core Api | SQL Server</p>
</div>
