<div class="p-3">
    <div class="home-section">
        <home-hero></home-hero>
    </div>
</div>
<hr>
<div class="p-3">
    <div class="home-section">
        <h3 class="content-header content-header-text">Technical Skills</h3>
        <home-skill-list></home-skill-list>
    </div>
</div>
<hr>
<div class="p-3">
    <div class="home-section">
        <h3 class="content-header content-header-text">Soft Skills</h3>
        <div class="growth" style="display: flex; padding: 2rem;">
            <img src="growth.png" style="border: 1px lightgrey solid">
            <div style="flex-grow: 1; padding: 2rem 0 2rem 2rem;">
                <h3>Passion for learning and a growth mindset.</h3>
                <li>Always keen on learning new things with an open mind.</li>
                <li>Takes on any challenge with a positive attitude and willingness to accept input.</li>
                <li>Curious and asks the right questions.</li>
                <li>Critical thinker and looks at the bigger picture.</li>
            </div>
        </div>
        <div class="leadership" style="display: flex; padding: 2rem;">
            <div style="flex-grow: 1; padding: 2rem 2rem 2rem 0;">
                <h3>Empathetic and hands-on leader.</h3>
                <li>Leads by setting an example and promotes blameless culture.</li>
                <li>Mentor and support junior developers in improving their skills and provide guidance on solving issues.</li>
                <li>Foster positive collaboration and helps the team grow through coaching.</li>
            </div>
            <img src="leadership.png" style="border: 1px lightgrey solid">
        </div>
    </div>
</div>
<hr>
<div class="p-3">
    <div class="home-section hobbies">
        <h3 class="content-header" style="text-align: center;">Hobbies</h3>
    </div>
</div>
<div class="p-3">
    <div class="footer">
        <p>Marlon Lagua<br>Copyright 2024<br>Angular 18 | .Net Core Api | SQL Server</p>
    </div>
</div>
