.home-section {
    padding: 2rem 1rem 2rem 1rem;
}

.footer {
    text-align: center;
    padding: 2rem;
    font-size: small;
    background-color: var(--footer-bg-color);
}

.disclaimer {
    font-style: italic;
}

.authors-note p{
    text-align: center; 
    margin-top: 1rem;
}