<div class="contact-content">
    <p>
        If you like what you saw, leave a message!<br>
        You can also leave a message just for fun you know! haha!
    </p>
    <form class="form-group">
      <div class="form-floating form-fields">
          <input id="yourname" name="yourname" type="text" class="form-control" placeholder="Name">
          <label for="yourname">your name or alias</label>
      </div>
      <div class="form-floating form-fields">
        <input id="email" name="email" type="text" class="form-control" placeholder="Email">
        <label for="email">your email address</label>
      </div>
      <div class="form-floating form-fields">
        <input id="mobile" name="mobile" type="text" class="form-control" placeholder="Mobile">
        <label for="mobile">your mobile number</label>
      </div>
      <div class="form-floating form-fields">
        <textarea id="details" name="details" type="text" class="form-control" placeholder="Details"></textarea>
        <label for="details">your message goes here...</label>
      </div>
      <div class="form-floating form-fields">
        <button type="button" class="btn btn-theme">Send</button>
      </div>
    </form>
  </div>