<div class="soft-skill-desc">Yet another way to layout using flex box, missing my Zed and Zuk. <p style="font-style: italic; font-size: smaller;">(the one that got away)</p></div>
<div class="soft-skill growth">
    <img class="soft-skill-image" src="zed-01-thumb.png">
    <div class="soft-skill-text growth-text">
        <h3>ZED - 2013 Mitsubishi Lancer EX 2.0 GTA</h3>
        <li>Best looking Lancer period.  My site, my rules! haha!</li>
        <li>Smooth and comfortable riding especially driving in the city.</li>
        <li>Sufficient power even with full capacity and good for occasional spirited riding. :P</li>
    </div>
</div>
<div class="soft-skill leadership">
    <div class="soft-skill-text leadership-text">
        <h3>ZUK - 2018 Suzuki SV650</h3>
        <li>Of course it the best looking classic naked bike!</li>
        <li>Super fun to ride! Smooth, Fast and Nimble!</li>
        <li>A good exhaust is the only aftermarket part you'll ever need!</li>
    </div>
    <img class="soft-skill-image" src="zuk-01-thumb.png">
</div>