.soft-skill-desc {
    margin-block: 2rem;
    text-align: center;
}

.soft-skill {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-inline: 1.5rem;
}

.soft-skill-image {
    border: 1px solid var(--border-color);
    flex-shrink: 0;
    height: 20rem;
    width: 30rem;
}

.soft-skill-text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20rem;
    margin-top: 2rem;
}

.soft-skill-text li {
    margin-block: .5rem;
}

.soft-skill-text li:nth-child(2) {
    margin-top: 2rem;
}

.growth {
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.leadership {
    flex-wrap: wrap-reverse; 
}

.leadership-text {
    text-align: right;
}

@media (max-width: 75rem) {
    .leadership-text {
        text-align: left;
    }
}

@media (max-width: 30rem) {
    .soft-skill-image {
        width: 23rem;
        height: 13rem;
    }
}

@media (max-width: 62rem) {
    .accordion-main {
        display: block;
    }

    .layout-preview {
        height: 80%;
        width: 80%;
    }
}