<div class="p-2">
    <h3 class="content-header">
        Locations
    </h3>
    @defer (when loaded) {
    @if (mainCollection.length == 0) {
    <!-- Let's only show this when we don't have anything in our collection.  The 'original' add new button is part of the map-list  -->
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="col-12 d-flex justify-content-end align-items-end align-self-end">
            <button type="button" class="btn btn-theme my-2" (click)="addNew()" [disabled]="!IsLoggedIn">Add New</button>
        </div>
    </div>
    }
    <!-- we can set location-list if we want to show locations in a tabular form, otherwise with maps -->
    <!-- <location-list [collection]="mainCollection"></location-list> -->
    <location-map-list [collection]="mainCollection"></location-map-list>
    }
    @placeholder {
    <loading [status]="!loaded"></loading>
    }
</div>